/*
@file layout.css
@description css media query styles
@author nick vincent-maloney
@date 2015-0217
*/

/* */
@media all and (min-width: 993px) {

	header {
		margin-top: 4em;
	}
}

/* */
@media all and (max-width: 992px) {

	header {
		margin-top: 7em;
	}
}

/* */
@media all and (max-width: 768px) {

	header { margin-top: 4em; }

    .center-section { padding: 0 1em; }

    .big-header { padding-left: 10px; }

    #theme-dropdown-box {
        float: left;
        margin-bottom: 0;
    }
}

/* */
@media all and (max-width: 445px) {

    footer { margin-top: 0; }

    #big-header-container {
        max-width: 320px;
        margin: 0 auto;
    }

    .big-header {
        font-size: 80px;
        padding: 30px 0 0 0;
    }

    .center-section { padding: 0 2.5em; }

    #footer, #copyright, #footer-links {
        width: 250px;
        margin: 0 auto;
    }

    #footer { padding: 30px 0 0 0; }

    #copyright, #footer-links { text-align: center; }
}


/* */
@media all and (max-width: 350px) {

    #big-header-container {
        max-width: 250px;
        margin: 0 auto;
    }

    .big-header { font-size: 20vw; }

    #social-icons span { font-size: 30px !important; }
}
