/*
@file layout.css
@description css media query styles
@author nick vincent-maloney
@date 2015-0217
*/

/* */
@media all and (min-width: 1351px) {

	.container { width: 1450px; }

	header { padding: 2em 0; }

}

/* */
@media all and (max-width: 1350px) {
	
	header { padding: 2em 0; }

}

/* */
@media all and (max-width: 768px) {

	header {
		padding-top: 2em;
	}
}


/* */
@media all and (max-width: 445px) {

    footer {
        margin-top: 0;
    }

    #big-header-container {
        max-width: 320px;
        margin: 0 auto;
    }

    .big-header {
        font-size: 80px;
    }
}