{% extends 'base.html' %}

<title>{% block title %} Search Pages {% endblock %}</title>

{% block content %}

    <h2 class="page-title bottom-mar-1em">Search Words</h2>
    
    <div class="page-base">

        <p class="top-mar-2em">You searched for "{{ query }}".</p>
    
        {% if result %}
            <p>Search results:</p>

            <div class="alert alert-success" role="alert">
                <strong>{{ result }}</strong> matched our records.
            </div>

            <p>Type a search query into the box above and press "Submit" to search.<p>

        {% elif result == 'none' %}

            <p>Type a search query into the box above and press "Submit" to search.<p>

        {% else %}

            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Sorry, the word <strong>{{ query }}</strong> isn't in our word database.
            </div>

            <p>Type a search query into the box above and press "Submit" to search.<p>

        {% endif %}
        
        <form class="form-inline top-mar-2em bottom-mar-2em" role="form" method="get" action="/search/">
            <div class="form-group">
                <label class="sr-only" for="id_q">Search this site</label>
                <input class="form-control" type="text" name="q" id="id_q" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    
    </div>
    
{% endblock %}