{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} So Happy It's Thursday {% endblock %}

{% block content %}
	
	<section class="center-section">

    <h1 class="big-header move-up-30px margin-bottom-70px">ecrostic<span style="font-size: 20px;">.com</span></h1>

    <div class="acrostic-form">

			<form id="generate-acrostic-form" role="form" method="post" onsubmit="return validate_generate_acrostic_form(this);">

				{% csrf_token %}

                <div class="ctr-right move-up-3em"> <!--style="margin-right: -240px"-->

					<select class="bootstrap-select show-tick" name="theme-selector" data-live-search="true" data-style="btn-success">
                        <option selected>Select an Acrostic Theme</option>
						<option value="cute-animals">Cute Animals</option>
						<option value="politics">Politics</option>
						<option value="sports">Sports</option>
						<option value="economics">Economics</option>
                        <option value="current-events">Current Events</option>
						<option value="movies">Movies</option>
                        <option value="books-literature">Books/Literature</option>
                        <option value="explicit">Explicit</option>
                        <option value="religion">Religion</option>
					</select>

                </div>

				<div class="form-group">
                    <label for="name"></label>
                    <div class="text-danger"><strong><em>{{ form.name.errors.as_text|cut:"*"|cut:"." }}</em></strong></div>
                    {{ form.name }}
                </div>

				<button type="submit" class="btn btn-primary btn-lg btn-block spinner">Generate Acrostic</button>

			</form>

		</div>
		
	</section>

{% endblock content %}