{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} So Happy It's Thursday {% endblock %}

{% block content %}
	
	<section class="center-section">
		
		<div class="ctr-container">
			
			<div class="ctr-left">
				
				<h2><strong>S</strong>o</h2>
				<h2><strong>H</strong>appy</h2>
				<h2><strong>I</strong>t's</h2>
				<h2><strong>T</strong>hursday</h2>
				
			</div>
			
			<div class="ctr-right">

                <a href="/"><h2>a&bull;cros&bull;tic</h2></a>
				<p><strong>/&#601;&#712;kr&ocirc;stik,&#601;&#712;kr&auml;s-/</strong></p>
				<em>noun</em>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;
					a poem, word puzzle, or other composition in which certain letters in each line form a word or words.
				</p>

			</div>
				
		</div>
		
		<div class="clear-both"></div>
			
		<div class="acrostic-form">
		
			<form id="generate-acrostic-form" role="form" method="post" onsubmit="return validate_generate_acrostic_form(this);">
				
				{% csrf_token %}

                <div class="ctr-right move-up-3em">

					<select class="bootstrap-select show-tick" name="theme-selector" data-live-search="true" data-style="btn-success">
                        <option selected>Select an Acrostic Theme</option>
						<option value="cute-animals">Cute Animals</option>
						<option value="politics">Politics</option>
						<option value="sports">Sports</option>
						<option value="economics">Economics</option>
                        <option value="current-events">Current Events</option>
						<option value="movies">Movies</option>
                        <option value="books-literature">Books/Literature</option>
                        <option value="explicit">Explicit</option>
                        <option value="religion">Religion</option>
					</select>

                </div>

				<div class="form-group">
                    <label for="name"></label>
                    <div class="text-danger"><strong><em>{{ form.name.errors.as_text|cut:"*"|cut:"." }}</em></strong></div>
                    {{ form.name }}
                </div>
				
				<button type="submit" class="btn btn-primary btn-lg btn-block spinner">Generate Acrostic</button>
				
			</form>
			
		</div>
		
	</section>

{% endblock content %}