{% extends 'base.html' %}

{% load staticfiles %}
{% load custom %}

{% block title %} So Happy It's Thursday {% endblock %}

{% block content %}
	
	<section class="center-section">

        <h1 class="big-header move-up-30px">ecrostic<span style="font-size: 20px;">.com</span></h1>
		
		<p style="color: slategray; font-size: 25px; letter-spacing: 2px; margin-left: 10px;">

		    {% autoescape off %}{{ acrostic.horizontal_words|acrosticize }}{% endautoescape %}

        </p>

        <div style="margin: 0.8em 0 0 0.8em; vertical-align: middle;" class="rateit bigstars" data-rateit-resetable="false"
            data-rateit-starwidth="24" data-rateit-starheight="24">
            <span style="font-size: 16px; color: darkslategray; vertical-align: super;">Rate it! </span>
        </div>

{#        <span class="icon-mail-squared" style="font-size: 40px; color: #333333;">#}
{#            <span style="font-size: 16px; color: darkslategray; vertical-align: super;">Send it! </span>#}
{#        </span>#}
		
		<div class="clear-both"></div>

        <div class="ctr-container margin-top-2em">

			<div class="ctr-left pad-10px">
				<a href="/generate/acrostic/" class="btn btn-lg btn-block btn-primary">Start over</a>
			</div>

			<div class="ctr-right pad-10px">
				<a href="/generate/acrostic?name={{ acrostic.vertical_word }}&theme={{ acrostic.theme }}"
                    class="btn btn-lg btn-block btn-success redo">
					Generate another
				</a>
				<!--
				    <button type="button"
				    class="btn btn-lg btn-block btn-success redo" id="{# {{ acrostic.pk }} #}"
				    data-target="acrostic_id">
					Generate another
				    </button>
                -->
			</div>

		</div>
		
	</section>

{% endblock content %}

{% block javascript %}
    
    {{ block.super }}
        
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
        
{% endblock javascript %}