{% extends 'base.html' %}

{% load staticfiles %}
{% load custom %}

{% block title %} So Happy It's Thursday {% endblock %}

{% block content %}
	
	<section class="center-section">
		
		<div class="ctr-container">
			
			<div class="ctr-left pad-10px">
				
				<h2><strong>S</strong>o</h2>
				<h2><strong>H</strong>appy</h2>
				<h2><strong>I</strong>t's</h2>
				<h2><strong>T</strong>hursday</h2>
				
			</div>
			
			<div class="ctr-right pad-10px">
				<a href="/"><h2>a&bull;cros&bull;tic</h2></a> 
				<p><strong>/&#601;&#712;kr&ocirc;stik,&#601;&#712;kr&auml;s-/</strong></p>
				<em>noun</em>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;
					a poem, word puzzle, or other composition in which certain letters in each line form a word or words.
				</p>
				
			</div>
				
		</div>
		
		<p>&nbsp;</p>
		
		<div class="ctr-container">
				
			<div class="ctr-left pad-10px">
				<a href="/generate/acrostic/" class="btn btn-lg btn-block btn-warning">Start over</a>
			</div>
			
			<!-- write now, this is comprimise. once we implement ajax, this will be will be possible -->
			<div class="ctr-right pad-10px">
				<a href="/generate/acrostic?name={{ acrostic.vertical_word }}" class="btn btn-lg btn-block btn-success redo">
					Generate another
				</a>
				<!--<button type="button" class="btn btn-lg btn-block btn-success redo" id="{# {{ acrostic.pk }} #}" data-target="acrostic_id">
					Generate another
				</button>-->
			</div>
			
			 
			
		</div>
		
		<p>&nbsp;</p>
		
		<div class="alert alert-success" role="alert">
			<p>SUCCESS!</p>

            <p>The theme you selected is: <strong>
                {% if theme == 'books_literature' %}
                    {{ theme|prettify:'/' }}
                {% else %}
                    {{ theme|prettify:' ' }}
                {% endif %}
            </strong></p>

            <p>Rate this acrostic</p>
            <div class="rateit" data-rateit-resetable="false"></div>

            <p>Here is your acrostic:</p>

			{% autoescape off %}{{ acrostic.horizontal_words|acrosticize }}{% endautoescape %}

		</div>
		
		<div class="clear-both"></div>
		
	</section>

{% endblock content %}

{% block javascript %}
    
    {{ block.super }}
        
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
        
{% endblock javascript %}