<!DOCTYPE html>
{% load staticfiles %}

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Generate random acrostics based on words and themes">
<meta name="keywords" content="acrostic, ecrostic, t-shirts, words, games, logic, themes, poictics, religion">
<meta name="author" content="ecrostic.com">
    
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="image_src" href="https://www.ecrostic.com/static/images/ecrostic_logo_header.png">

<meta property="og:title" content="ecrostic.com">
<meta property="og:url" content="https://www.ecrostic.com">

<meta property="og:image" content="https://www.ecrostic.com/static/images/ecrostic_logo_header.png">
<meta property="og:image:type" content="image/png">

<title>{% block title %}{{ title }}{% endblock title %}</title>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.css">
  
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'css/rateit.css' %}">

<link href='//fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body id="body">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<noscript>

<style type="text/css">

div.noscript-warning {
    margin-top: 0;
    width: 100%; /* For Browser Compatibility */
    min-width: 250px;
    height: auto;
    border: solid 1px rgb(160, 0, 0);
    z-index: 1000 !important;
    color: white;
    font-weight: bold;
    background-color: rgb(160, 0, 0);
    font-size: medium;
    line-height: 1.5;
    text-align: center;
    padding-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

div.noscript-warning p {
    padding: 0 1em;
}

span.nojs-warning {
    font-size: 1.3em;
    vertical-align: text-bottom;
    margin-right: 1em;
}

</style>

<div class="noscript-warning">
    <p>
        <span class="glyphicon glyphicon-ban-circle nojs-warning"></span>
        JavaScript is disabled! &nbsp; This web application requires JavaScript to function properly. 
    </p>
</div>

</noscript>

<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/generate/">
                <img style="margin-top: -0.45em;" src="{% static 'images/ecrostic_logo_header.png' %}">
            </a>
            <a class="navbar-brand" href="/">ecrostic.com</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/resources/">Resources</a></li>
                        <li class="divider"></li>
                        <li class="disabled tmp-alert"><a href="#">Log in</a></li>
                        <li class="disabled tmp-alert"><a href="#">Register</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Terms of Use</li>
                        <li><a href="/terms/">Terms</a></li>
                        <li><a href="/privacy/">Privacy</a></li>
                    </ul>
                </li>

            </ul>

            <form class="form-inline navbar-form navbar-right tmp-alert" role="form" method="get" action="/search/">
                {% if user.is_authenticated %}
                <span class="nav-inv-clr">Logged in as {{ user.username }}</span>
{#                <a class="tmp-alert" href="#">#}
                    <button type="button" class="btn btn-danger logout" disabled="disabled">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </button>
{#                </a>#}
                {% else %}
{#                    <a class="tmp-alert" href="#">#}
                    <button type="button" class="btn btn-success login" disabled="disabled">
                        <span class="glyphicon glyphicon-log-in"></span> Log in
                    </button>
{#                </a>#}
                {% endif %}
                <div class="form-group">
                    <label class="sr-only" for="id_q">Search not ready yet</label>
                        <input class="form-control" type="text" name="q" id="id_q" placeholder="Search not ready yet" />
                    </div>
                <button type="submit" class="btn btn-default" disabled="disabled">Submit</button>
            </form>

        </div>
    </div>
</div>

<header>

	<div id="big-header-container">
        <h1 class="big-header">
            ecrostic<span class="show-admin" style="font-size: 20px;">.com</span>
        </h1>
    </div>

</header>

<div id="content">

    <section class="center-section">

        {% block content %}{% endblock content %}

    </section>
	
</div>

<footer>
	
	<div class="container">

        <section class="center-section">

            <div class="ctr-container">

                <div id="social-icons" class="top-mar-2em">
<a href="https://twitter.com/intent/tweet?url=https://www.ecrostic.com&text={% block twitter %}{% endblock twitter %}&" target="_blank">
                        <span style="font-size: 40px; color: #333333;" class="icon-twitter-squared"></span>
                    </a>
<a href="http://www.facebook.com/share.php?u={% block facebook %}{% endblock facebook %}" target="_blank"><span style="font-size: 40px; color: #333333;" class="icon-facebook-squared"></span></a>
<a href="https://plus.google.com/share?url={% block google_plus %}{% endblock google_plus %}" target="_blank"><span style="font-size: 40px; color: #333333;" class="icon-gplus-squared"></span></a>
                    <a href="/"><span style="font-size: 40px; color: #333333; float: right;" class="icon-home"></span></a>
                </div>

                {#<span id="show-admin" class="icon-cog"></span>#}
                <p id="admin-access" class="top-mar-2em">
                    Click here for <a href="/admin/" target="_blank">admin</a> or
                    <a href="/sitemap.xml" target="_blank">sitemap</a> access.
                </p>

            </div>

        </section>

        {% block footer %}{% endblock footer %}

        <section id="footer" class="margin-top-2em">

            <p id="copyright" class="float-left top-mar-2em">
                Copyright 2015 &copy; ecrostic.com
            </p>

            <p id="footer-links" class="float-right top-mar-2em">
                <a href="/contact/">Contact</a>
                &nbsp;
                <a href="/terms/">Terms</a>
                &nbsp;
                <a href="/privacy/">Privacy</a>
            </p>

        </section>

    </div>
	
</footer>

{# loading spinner modal #}
<div id="loading-spinner">
    <img id="load-spinner-image" src="{% static 'images/ajax_loader.gif' %}" alt="Loading page..." />
</div>

{% block javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/utility.js' %}"></script>
<script src="{% static 'js/validate_fields.js' %}"></script>
<script src="{% static 'js/validate_forms.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/jquery.rateit.js' %}"></script>

{% endblock javascript %}

{# google analytics #}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60193971-1', 'auto');
  ga('send', 'pageview');
</script>
</body>

</html>
