{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} So Happy It's Thursday {% endblock %}

{% block content %}
	
	<section class="center-section">
		
		<div class="ctr-container">
			
			<div class="ctr-left">
				
				<h2><strong>S</strong>o</h2>
				<h2><strong>H</strong>appy</h2>
				<h2><strong>I</strong>t's</h2>
				<h2><strong>T</strong>hursday</h2>
				
			</div>
			
			<div class="ctr-right">
				<!-- a·cros·tic /əˈkrôstik,əˈkräs-/ -->
				<h2>a·cros·tic</h2>
				<p><strong>/&#601;&#712;kr&ocirc;stik,&#601;&#712;kr&auml;s-/</strong></p>
				<em>noun</em>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;
					a poem, word puzzle, or other composition in which certain letters in each line form a word or words.
				</p>
			</div>
				
		</div>
		
		<div class="clear-both"></div>
			
		<div class="acrostic-form">
				
			<a href="/generate/acrostic/">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Get Started</button>
			</a>
			
		</div>
		
	</section>

{% endblock content %}