{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} So Happy It's Thursday {% endblock %}

{% block content %}
		
    <div class="ctr-container">

        <div class="ctr-left">

            <h2 style="color: darkslateblue;"><strong>S</strong><span style="color: slategray;">o</span></h2>
            <h2 style="color: darkslateblue;"><strong>H</strong><span style="color: slategray;">appy</span></h2>
            <h2 style="color: darkslateblue;"><strong>I</strong><span style="color: slategray;">t's</span></h2>
            <h2 style="color: darkslateblue;"><strong>T</strong><span style="color: slategray;">hursday</span></h2>

        </div>

        <div class="ctr-right">
            <!-- a·cros·tic /əˈkrôstik,əˈkräs-/ -->
            <h2>a·cros·tic</h2>
            <p><strong>/&#601;&#712;kr&ocirc;stik,&#601;&#712;kr&auml;s-/</strong></p>
            <em>noun</em>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                a poem, word puzzle, or other composition in which certain letters in each line form a word or words.
            </p>
        </div>

    </div>

    <div class="clear-both"></div>

    <div class="acrostic-form">

        <a href="/generate/">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Start making ecrostics!</button>
        </a>

    </div>

{% endblock content %}